/**/html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
    /*background-image: url('../images/oip.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} 

.image-container img {
    /* Set the margin on all sides (top, right, bottom, left) */
    margin: 20px;
    /* Or use shorthand notation to set specific margins */
    /* margin: top right bottom left; */
    /* margin: 10px 20px 10px 20px; */

}
/* Indent from the left side */
.image-container img {
    margin-left: 100px;
}

/* Indent from the right side */
.image-container img {
    margin-right: 20px;
}

.same-size {
    width: 200px;
    height: 400px;
}


.image-container1 {
    /* Set the margin on all sides (top, right, bottom, left) */
    margin: 20px;
    /* Or use shorthand notation to set specific margins */
    /* margin: top right bottom left; */
    /* margin: 10px 20px 10px 20px; */
}
/* Indent from the left side */
.image-container1  {
        margin-left: 80px;
    }

/* Indent from the right side */
.image-container1 {
    /*margin-right: 20px;*/
    max-width: 150%;
    height: auto;
    display: block; /* Ensures proper spacing and alignment */
    margin: 0 auto; /* Centers the image horizontally */
}

.centered-div {
    position: absolute;
    top: 30%;
    right: 1600px;
    transform: translate(-50%, -50%); /* Add other styles for the centered div, like width, height, etc. */
  
}
