@{
    ViewData["Title"] = "Assessment";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div>
        <button id="startButton">Start Recording</button>
        <div id="result" class="div2"></div>
        <div id="output" class="div2"></div>
        <div id="eventListener" class="div2"></div>
    </div>
</div>


<style>
    .div1 {
        margin-bottom: 20px; /* Adds space at the bottom */
    }

    .div2 {
        margin-top: 20px; /* Adds space at the top */
    }
</style>
